@using EarlyBookingService.Lib.DTOs
@model List<PriceDetailBasic>

<h2>Early Booking List</h2>

<article id="app" class="row" v-cloak>
    <header class="col-md-4">
        <ul class="list-group">
            <li class="list-group-item" v-for="booking in bookings">
                {{ booking.bookingReservationNumber }} <a v-on:click="fetchBookingDetails(booking)"><i class="fas fa-info-circle"></i></a>
            </li>
        </ul>
    </header>
    <div v-if="selectedBooking" class="col-md-4">
        <h3>{{ selectedBooking.reservationNumber }}</h3>
        <div>
            <i class="fas fa-book"></i>
            <span>{{ selectedBooking.bookingDate }}</span>
        </div>
        <div>
            <i class="fas fa-plane-departure"></i>
            <span>{{ selectedBooking.startDate }}</span>
        </div>
        <div>
            <i class="fas fa-plane-arrival"></i>
            <span>{{ selectedBooking.endDate }}</span>
        </div>
        <div>
            <i class="fas fa-users"></i>
            <span>{{ selectedBooking.numberOfParticipants }}</span>
            <a v-on:click="fetchParticipantDetails(selectedBooking)"><i class="fas fa-search-plus"></i></a>
            <div v-if="participants">
                <ul class="list-group">
                    <li v-for="participant in participants">
                        <span>{{ participant.firstName }} </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</article>

@section scripts
{
    <script src="~/js/vue.js"></script>
    <script>
        var apiURL = "https://localhost:44396/api/Bookings/Detail/";
        var bookingURL = "https://localhost:44396/api/PriceDetails/";
        var participantsURL = "https://localhost:44396/api/PriceDetails/Booking/";

        var app = new Vue({
                el: '#app',
                data:
                {
                    bookings: null,
                    selectedBooking: null,
                    participants: null,
                },
                created: function () {
                    var self = this;
                    self.fetchBooking(window.location.href.substr(window.location.href.lastIndexOf('/') + 1));
                },
            methods: {
                fetchBooking: function (id) {
                    self = this;
                    fetch(`${bookingURL}${id}`)
                        .then(res => res.json())
                        .then(function (bookings) {
                            self.bookings = bookings;
                        })
                        .catch(err => console.error('Fout: ' + err));
                },
                fetchBookingDetails: function (booking) {
                    self = this;
                    fetch(`${apiURL}${booking.id}`)
                        .then(res => res.json())
                        .then(function (res) {
                            self.selectedBooking = res;
                        })
                        .catch(err => console.error('Fout: ' + err));
                },
                fetchParticipantDetails: function (booking) {
                    self = this;
                    fetch(`${participantsURL}${booking.id}`)
                        .then(res => res.json())
                        .then(function (res) {
                            self.participants = res;
                        })
                        .catch(err => console.error('Fout: ' + err));
                },

            }
        });
    </script>
}