/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:#f4f4f4;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.traveldate, .bookingdate, .ebpercentage, .prepayment {
    margin-top: 10px;
}

[v-cloak] {
    display: none;
}

.end-date.passed {
    color: red;
}

.list-group-item i{
    display:inline-block;
    width:30px;
    text-align:center;
    color:black;
}

.actions {
    margin-top:20px;
    margin-bottom:10px;
}

.actions .btn i {
    color:inherit;
}


.selectedCondition {
    background: white;
    border: 1px solid #ddd;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    padding:20px;
    margin-top:20px;
}

.selectedCondition .form-group{
    margin-bottom:20px;
}

a {
    color: black;
}