
<h1>Early Booking Conditions</h1>

<article id="app" class="row" v-cloak>
    <header class="col-md-4">
        <h3 v-cloak>{{ message }}</h3>
        <nav>
            <ul class="list-group">
                <li class="list-group-item" v-for="condition in conditions"
                     style="cursor:pointer">
                    <h4 v-cloak>{{ condition.accomodationName }} </h4>
                    <div class="bookingdate">
                        <i class="fas fa-book"></i>
                        <span v-cloak>{{ condition.bookingStartDate }}</span>
                        -
                        <span v-cloak :class="getConditionClass(condition)">{{ condition.bookingEndDateString }}</span>
                    </div>
                    <div class="traveldate">
                        <i class="fas fa-plane-departure"></i>
                        <span v-cloak>{{ condition.reservationStartDate }}</span>
                        -
                        <span v-cloak>{{ condition.reservationEndDate }}</span>
                    </div>
                    <div class="ebpercentage">
                        <i class="fas fa-percent"></i>
                        <span v-cloak>{{ condition.amount }}</span>
                    </div>
                    <div class="prepayment">
                        <i class="far fa-credit-card"></i>
                        <span v-cloak>{{ condition.prepaymentPercentage }}</span>%
                        -
                        <span v-cloak>{{ condition.prepaymentDate}}</span>
                         
                        <a v-on:click="fetchPrepaymentDetails(condition)"><i class="fas fa-pencil-alt"></i></a>
                    </div>
                    <div class="bookings">
                        <a v-bind:href="'/Bookings/Index/' + condition.id "><i class="fas fa-search-plus"></i></a>Show bookings
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <div v-if="currentCondition" class="col-md-6">
        <h3>Details</h3>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label small"><i class="far fa-credit-card"></i> Prepayment %</label>
                <input type="number" class="form-control" v-model="currentCondition.prepaymentPercentage" />
            </div>
            <div class="form-group">
                <label class="control-label small"><i class="far fa-calendar"></i> Prepayment date</label>
                <input type="datetime" class="form-control" v-model="currentCondition.prepaymentDate" />
            </div>
            <button v-on:click="save" class="btn btn-primary">Save</button>
        </form>
    </div>
 
</article>

@section scripts{
    
    <script src="~/js/vue.js"></script>
    <script>
        var apiURL = 'https://localhost:44396/api/PurchaseCost/';
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Loading early booking conditions...',
                books: null,
                currentCondition: null,
            },
            created: function () {
                var self = this;
                self.fetchConditions();
            },
            methods: {
                fetchConditions: function () {
                    self = this;
                    fetch(`${apiURL}/Details`)
                        .then(res => res.json())
                        .then(function (conditions) {
                            self.conditions = conditions;
                            self.message = '';
                        })
                        .catch(err => console.error('Fout: ' + err));
                },
                fetchPrepaymentDetails: function (condition) {
                    self = this;
                    fetch(`${apiURL}${condition.id}`)
                        .then(res => res.json())
                        .then(function (res) {
                            self.currentCondition = res;
                        })
                        .catch(err => console.error('Fout: ' + err));
                },
                getConditionClass: function (condition) { //show that bookingenddate has passed so that list has to be validated
                    if (Date.parse(condition.bookingEndDate) < Date.now()) return 'list-group-item active';
                    return 'list-group-item';
                },
                save: function () {
                    var self = this;

                    //self.currentCondition.accomodationId = self.currentCondition.accomodation.id;

                    var ajaxHeaders = new Headers();
                    ajaxHeaders.append("Content-Type", "application/json");
                    var ajaxConfig = {
                        method: 'PUT',
                        body: JSON.stringify(self.currentCondition),
                        headers: ajaxHeaders
                    };
                    let myRequest = new Request(`${apiURL}/${self.currentCondition.id}`, ajaxConfig);
                    fetch(myRequest)
                        .then(res => res.json())
                        .then(res => {
                            self.updateConditionList(res);
                        })
                        .catch(err => console.error('Fout: ' + err));
                },
                updateConditionList: function (condition) {
                    var updatedCondition = self.conditions.filter(c => c.id === condition.id)[0];
                    updatedCondition.title = condition.title;
                },
            }
        });
    </script>
}