
<h1>Early Booking Conditions</h1>

<article id="app" class="row" v-cloak>
    <header class="col-md-4">
        <h3 v-cloak>{{ message }}</h3>
        <nav>
            <ul class="list-group">
                <li v-for="condition in conditions" :class="getConditionClass(condition)">
                    <h4 v-cloak>{{ condition.accomodationName }} </h4>
                    <div class="bookingdate">
                        <i class="fas fa-book"></i>
                        <span v-cloak>{{ condition.bookingStartDate }}</span>
                        -
                        <span v-cloak :class="getEndDateClass(condition)">{{ condition.bookingEndDateString }}</span>
                    </div>
                    <div class="traveldate">
                        <i class="fas fa-plane-departure"></i>
                        <span v-cloak>{{ condition.reservationStartDate }}</span>
                        -
                        <span v-cloak>{{ condition.reservationEndDate }}</span>
                    </div>
                    <div class="ebpercentage">
                        <i class="fas fa-percent"></i>
                        <span v-cloak>{{ condition.amount }}</span>
                    </div>
                    <div class="prepayment">
                        <i class="far fa-credit-card"></i>
                        <span v-cloak v-if="condition.prepayment">
                            <span v-cloak>{{ condition.prepaymentPercentage }}</span>%
                            -
                            <span v-cloak>{{ condition.prepaymentDate}}</span>
                        </span>
                        <span v-cloak v-else>No prepayment</span>
                    </div>
                    <div class="actions">
                        <a class="btn btn-secondary" v-bind:href="'/Bookings/Index/' + condition.id "><i class="fas fa-search-plus"></i> Show bookings</a>
                        <a class="btn btn-primary" v-on:click="fetchPrepaymentDetails(condition)"><i class="fas fa-pencil-alt"></i> Edit prepayment</a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <div class="selectedCondition col-md-8">
        <span v-if="!currentCondition" class="placeholder">Please select a condition to be able to edit the prepayment details</span>
        <div v-if="currentCondition">
            <h3>Prepayment details</h3>
            <form>
                <div class="form-group">
                    <label class="control-label small"><i class="far fa-credit-card"></i> Prepayment %</label>
                    <input type="number" class="form-control" v-model="currentCondition.prepaymentPercentage" />
                </div>
                <div class="form-group">
                    <label class="control-label small"><i class="far fa-calendar"></i> Prepayment date</label>
                    <input type="datetime" class="form-control" v-model="currentCondition.prepaymentDate" />
                </div>
                <button v-on:click="save" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
 
</article>

@section scripts{
    
    <script src="~/js/vue.js"></script>
    <script>
        var apiURL = 'https://localhost:44396/api/PurchaseCost/';
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Loading early booking conditions...',
                conditions: null,
                currentCondition: null,
            },
            created: function () {
                var self = this;
                self.fetchConditions(window.location.href.substr(window.location.href.lastIndexOf('/') + 1));
            },
            methods: {
                fetchConditions: function (id) {
                    self = this;
                    if (id == 0) {
                        fetch(`${apiURL}Details`)
                            .then(res => res.json())
                            .then(function (conditions) {
                                conditions.forEach(function (condition, i) {
                                    condition.isActive = false;
                                    condition.prepayment = false;
                                    if (condition.prepaymentPercentage > 0)
                                        condition.prepayment = true;
                                });
                                self.conditions = conditions;
                                self.message = '';
                            })
                            .catch(err => console.error('Fout: ' + err));
                    }
                    else {
                        fetch(`${apiURL}Details/${id}`)
                            .then(res => res.json())
                            .then(function (conditions) {
                                conditions.forEach(function (condition, i) {
                                    condition.isActive = false;
                                    condition.prepayment = false;
                                    if (condition.prepaymentPercentage > 0)
                                        condition.prepayment = true;
                                });
                                self.conditions = conditions;
                                self.message = '';
                            })
                            .catch(err => console.error('Fout: ' + err));
                    }

                },
                fetchPrepaymentDetails: function (condition) {
                    self = this;
                    fetch(`${apiURL}${condition.id}`)
                        .then(res => res.json())
                        .then(function (res) {
                            self.currentCondition = res;
                            self.makeConditionActive(condition.id);
                        })
                        .catch(err => console.error('Fout: ' + err));
                },
                getEndDateClass: function (condition) { //show that bookingenddate has passed so that list has to be validated
                    if (Date.parse(condition.bookingEndDate) < Date.now()) return 'end-date passed';
                    return 'end-date due';
                },
                getConditionClass: function (condition) {
                    if (condition.isActive) return 'list-group-item active';
                    return 'list-group-item';
                },
                makeConditionActive: function (conditionid) {
                    self.conditions.forEach(function (condition, i) {
                        condition.isActive = condition.id === conditionid ? true : false;
                    });
                },
                save: function () {
                    var self = this;

                    //self.currentCondition.accomodationId = self.currentCondition.accomodation.id;

                    var ajaxHeaders = new Headers();
                    ajaxHeaders.append("Content-Type", "application/json");
                    var ajaxConfig = {
                        method: 'PUT',
                        body: JSON.stringify(self.currentCondition),
                        headers: ajaxHeaders
                    };
                    let myRequest = new Request(`${apiURL}/${self.currentCondition.id}`, ajaxConfig);
                    fetch(myRequest)
                        .then(res => res.json())
                        .then(res => {
                            self.updateConditionList(res);
                        })
                        .catch(err => console.error('Fout: ' + err));
                },
                updateConditionList: function (condition) {
                    var updatedCondition = self.conditions.filter(c => c.id === condition.id)[0];
                    updatedCondition.title = condition.title;
                },
            }
        });
    </script>
}