@using EarlyBookingService.Lib.Models
@model List<PurchaseCost>

<h1>Early Booking Conditions</h1>

<div class="row">
    <div class="col-md-4">
            @foreach (PurchaseCost purchaseCost in Model)
            {
                <h2>@purchaseCost.AccomodationId</h2>
            }
    </div>
</div>
